.arrow-box {
    height: 70px;
    width: 350px;
    color: white;
    background-color: skyblue;
    padding: 20px;
    border: 4px solid powderblue;
    position: relative;
    margin: 100px;
}

.arrow-box:before {
    content: "";
    display: block;
    position: absolute;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid skyblue;
    top: -40px;
    left: 150px;
    z-index: 1;
}

.arrow-box:after {
    content: "";
    display: block;
    position: absolute;
    border-left: 44px solid transparent;
    border-right: 44px solid transparent;
    border-bottom: 44px solid powderblue;
    top: -46px;
    left: 146px;
}